specVersion: 0.0.2
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: OpenQ
    network: {{ network }}
    source:
      address: '{{ address }}'
      abi: OpenQ
{{#startBlock}}
      startBlock: {{ startBlock }}
{{/startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - Bounty
        - User
        - Deposit
        - Refund
        - Payout
        - Organization
        - TokenBalance
        - UserEarnedTokenBalance
        - UserFundedTokenBalance
      abis:
        - name: OpenQ
          file: ./abis/OpenQ.json
      eventHandlers:
        - event: BountyCreated(string,string,address,indexed address,uint256)
          handler: handleBountyCreated
        - event: BountyClosed(string,string,indexed address,address,uint256)
          handler: handleBountyClosed
        - event: DepositReceived(string,string,indexed address,address,address,uint256,uint256,bytes32)
          handler: handleDepositReceived
        - event: DepositRefunded(string,string,indexed address,address,address,uint256,uint256,bytes32)
          handler: handleDepositRefunded
        - event: BountyPaidout(string,string,indexed address,address,address,uint256,uint256)
          handler: handleBountyPaidout
      file: ./src/mapping.ts
