specVersion: 0.0.2
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: OpenQ
    network: {{ network }}
    source:
      address: '{{ openQAddress }}'
      abi: OpenQ
{{#openQStartBlock}}
      startBlock: {{ openQStartBlock }}
{{/openQStartBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - Bounty
        - User
        - Deposit
        - Refund
        - Payout
        - Organization
        - TokenBalance
        - UserEarnedTokenBalance
        - UserFundedTokenBalance
      abis:
        - name: OpenQ
          file: ./abis/OpenQ.json
      eventHandlers:
        - event: BountyCreated(string,string,address,address,uint256,uint256,bytes,uint256)
          handler: handleBountyCreated
        - event: FundingGoalSet(address,address,uint256,uint256,bytes,uint256)
          handler: handleFundingGoalSet
        - event: PayoutSet(address,address,uint256,uint256,bytes,uint256)
          handler: handlePayoutSet
        - event: PayoutScheduleSet(address,address,uint256[],uint256,bytes,uint256)
          handler: handlePayoutScheduleSet
        - event: BountyClosed(string,address,string,address,uint256,uint256,bytes,uint256)
          handler: handleBountyClosed
        - event: ExternalUserIdAssociatedWithAddress(string,address,bytes,uint256)
          handler: handleExternalUserIdAssociatedWithAddress
        - event: InvoiceRequiredSet(address,bool,uint256,bytes,uint256)
          handler: handleInvoiceRequiredSet
        - event: KYCRequiredSet(address,bool,uint256,bytes,uint256)
          handler: handleKycRequiredSet
        - event: SupportingDocumentsRequiredSet(address,bool,uint256,bytes,uint256)
          handler: handleSupportingDocumentsRequiredSet
        - event: InvoiceCompletedSet(address,uint256,bytes,uint256)
          handler: handleInvoiceCompletedSet
        - event: SupportingDocumentsCompletedSet(address,uint256,bytes,uint256)
          handler: handleSupportingDocumentsCompletedSet
        - event: TierWinnerSelected(address,string[],bytes,uint256)
          handler: handleTierWinnerSelected
      file: ./src/mapping.ts
  - kind: ethereum/contract
    name: ClaimManager
    network: {{ network }}
    source:
      address: '{{ claimManagerAddress }}'
      abi: ClaimManager
{{#claimManagerStartBlock}}
      startBlock: {{ claimManagerStartBlock }}
{{/claimManagerStartBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - Bounty
        - User
        - Deposit
        - Refund
        - Payout
        - Organization
        - TokenBalance
        - UserEarnedTokenBalance
        - UserFundedTokenBalance
        - Claim
        - OrganizationPayoutTokenBalance
        - UserPayoutTokenBalance
        - PayoutTokenBalance
      abis:
        - name: ClaimManager
          file: ./abis/ClaimManager.json
      eventHandlers:
        - event: BountyClosed(string,address,string,address,uint256,uint256,bytes,uint256)
          handler: handleBountyClosed
        - event: ClaimSuccess(uint256,uint256,bytes,uint256)
          handler: handleClaimSuccess
        - event: NFTClaimed(string,address,string,address,uint256,address,uint256,uint256,bytes,uint256)
          handler: handleNftClaimed
        - event: TokenBalanceClaimed(string,address,string,address,uint256,address,uint256,uint256,bytes,uint256)
          handler: handleTokenBalanceClaimed
      file: ./src/mapping.ts
  - kind: ethereum/contract
    name: DepositManager
    network: {{ network }}
    source:
      address: '{{ depositManagerAddress }}'
      abi: DepositManager
{{#depositManagerStartBlock}}
      startBlock: {{ depositManagerStartBlock }}
{{/depositManagerStartBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - Bounty
        - User
        - Deposit
        - Refund
        - Payout
        - Organization
        - TokenBalance
        - UserEarnedTokenBalance
        - UserFundedTokenBalance
      abis:
        - name: DepositManager
          file: ./abis/DepositManager.json
      eventHandlers:
        - event: TokenDepositReceived(bytes32,address,string,string,address,uint256,address,uint256,uint256,uint256,bytes,uint256)
          handler: handleTokenDepositReceived
        - event: NFTDepositReceived(bytes32,address,string,string,address,uint256,address,uint256,uint256,uint256,bytes,uint256)
          handler: handleNftDepositReceived
        - event: DepositRefunded(bytes32,string,address,string,uint256,address,uint256,uint256,bytes,uint256)
          handler: handleDepositRefunded
        - event: DepositExtended(bytes32,uint256,uint256,bytes,uint256)
          handler: handleDepositExtended
      file: ./src/mapping.ts